---
---

@import "{{ site.theme }}";

#project_title a {
    color: white;
}

#header_wrap .inner {
  color: white;
}

img {
  width: 640px;
}

img + em {
  display: block; text-align: right;
}

#main_content_wrap {
  background-color: #b2b2b2;
}

#main_content {
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 60vh;
}

html {
  overflow-y: scroll;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
